body {
  font-family: monospace;
  background: #111;
  color: #eee;
  padding: 20px;
}

#state {
  font-size: 40px;
  margin-bottom: 10px;
}

.STABLE {
  color: #0f0;
}

.MOTION_SPIKE {
  color: #f00;
}

#logs {
  margin-top: 20px;
}